//base以变量为主
@import './color.scss';
@import './font.scss';

//定义标准的padding
$defaultPaddingTop:10px;
$defaultPaddingLeft:10px;

$largePaddingTop:15px;
$largePaddingLeft:15px;

$smalPaddingTop:5px;
$smallPaddingLeft:5px;
//定义标准的margin


//圆角border-radice

$borderRadius:5px;