//定义几种默认颜色
//默认
$defaultColor:#fff;
$defaultActiveColor:#3a8ee6;
$defaultHoverColor:#409eff;
$defaultTextColor:#606266;


//primary

$primaryColor:#409EFF;
$primaryActiveColor:#3a8ee6;
$primaryHoverColor:#66b1ff;
$primaryTextColor:#fff;
//
$warningColor:#E6A23C;
$warningActiveColor:#cf9236;
$warningHoverColor:#ebb563;
$warningTextColor:#fff;